.FilesUpload{
    padding: 10px;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    border-radius: 10px 10px 0 0 ;
    border-bottom: 1px solid #F0F0F0;
}
.inputWrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.label{
    font-size: 14px;
}