.actionBar{
    padding: 10px;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    gap: 20px;
    border-radius: 10px;
}
.resetButton{
    background-color: #ff6666;
    color: #FFFFFF;
    transition: 0.2s;
    &:hover{
      background-color: #ff3333;
    }
  
}
.selector{
    width: 200px;
    max-height: 38px;
}

.export {
    display: flex;
    gap: 10px;
}